
.container{
    display: grid;
    grid-template-columns: 4em 1fr;
    min-height: 100vh;
    text-align: center;
}

.menu{
    background-color: #FFD700;
    width: 100px;
    height: 100vh;
    display: grid;
}


.header{
    background-color:#FFFDF4;
    width: 300vh;
}
.bttCadastro{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 7px;
    background-color: #032759;
    color: #ffff;
    transition: background-color 0.3s;
}

.bttCadastro:hover {
    background-color: #1e4d7d;
}

.logo{
   width: 240px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 15px;
}

.h2Cadastro{
    font-size: 20px;
    margin-bottom: 30px;
    padding: 20px;
}
.divtudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.header {
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4);
    height: 500px;
    width: 800px;
    margin-top: 45px;
    margin-left: 200px;
    background-color: white;
}

.nomeInp{
    display: flex;
    gap: 15px;
    margin: 30px;

}

 .imgCaderno, .imgCalen{
    width: 22px;
     margin-top: 20px;
}

 .imgPerfil{
     width: 50px;
 }

.imgFoto{
    width: 60px;
    margin-top: 20px;
}

.imgSair{
    width: 50px;
}

input{
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: none;
    height: 37px;
    width: 280px;
    margin-top: 10px;
}
.select{
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: none;
    height: 37px;
    width: 280px;
    margin-top: 10px;
}


.divSair{
    align-content: end;
}

.divIcones{
    margin-top: -30px;
    display: grid;
}

.ladoEsquerdo{
}

.imgCaderno, .imgCalen, .imgPerfil{
    margin: auto;
}

.asterisco{
    color: red;
}

.h2Cadastro, .nomeInp{
    font-weight: bold;
}
.h2Cadastro{
    font-size: 25px;
}

.nomeInp{
    font-size: 13px;
    margin: 0;


}
.ptdois, .pttres, .ptcinco, .ptseis, .ptsete{
    margin-top: 15px;
}

.ptum,.ptdois, .pttres{
    margin-left: 50px;
}

.bttBaixar{
    border: none;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    width: 276px;
    height: 100px;
}
.imgBaixar{
 width: 70px;
}

.bttSalvar{
    color: white;
    margin-top: 25px;
    border: none;
    background-color: #ff6b00;
    width: 500px;
    height: 40px;
    border-radius: 20px;
}