.oferecep{
    padding: 3vw;
    padding-top: 4vw;
}
.coisas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 10px;
}
.presencial p{
    text-align: center;
}
.oficinas {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.oficinas2 {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 70px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.escritas{
    padding: 2vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.divao{
    margin: 8px;
}
.link{
    background: #FFA500;
    width: 45%;
    text-align: center;
    border-radius: 2vw;
    color: white;
    padding: 0.6vw;
    text-decoration: none;
}
.link2{
    background: #FF6B00;
    width: 45%;
    text-align: center;
    border-radius: 2vw;
    color: white;
    padding: 0.6vw;
    text-decoration: none;
}
.card{
    border-radius: 2vw;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 35vw;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 1.3vw;
}
.fotos{
    background-image: url("../../public/img1.png");
    height: 25vw;
    background-size: cover;
    background-position: center;
    border-radius: 2vw 2vw 0 0;
}
.titulo{
    font-size: 2vw;
    font-weight: 600;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.desc{
    display: none;
    text-align: justify;
}

.idade{
    display: none;
}

.turmas{
    display: flex;
    gap: .5vw;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.3vw;
    overflow-x: scroll;
    padding-bottom: 0.5vw;
}