
.coisas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 10px;
}
.presencial p{
    text-align: center;
}
.oficinas {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.oficinas2 {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 70px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.escritas{
    padding: 2vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.divao{
    margin: 8px;
}

.card{
    border-radius: 2vw;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 35vw;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 1.3vw;
}

.fotos{
    background-image: url('/public/foto1.png');
    height: 25vw;
    background-position: center;
    background-size: cover;
    border-radius: 2vw 2vw 0vw 0vw;
}
.imgAberto{
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2vw 0vw 0vw 2vw;
}
.titulo{
    font-size: 1.8vw;
    font-weight: 650;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
}

.p{
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-size: 1.2vw;
}
.card{
    width: 33vw;
    min-height: 40vw;
    border-radius: 3vw;
    -webkit-box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
}

.cardAberto{
    width: 78.5vw;
    min-height: 40vw;
    border-radius: 3vw;
    box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.turmas{
    display: flex;
    gap: 0.5vw;
    overflow-x: auto;
    margin-bottom: 1vw;
}

.fichaTurma {
    border: 0.3vw solid #FFD700;
    padding: 0.2vw;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    margin-bottom: 1vw;
    margin-top: 0.7vw;
    border-radius: 5vw;
    font-size: 1.3vw;
    font-weight: 600;
    height: 2vw;
    display: flex;
    align-items: center;
    min-width: 6.8vw;
}

.p2{
    width: 6vw;
    text-align: center;
    height: auto;
    font-weight: 600;
}
.botao1{
    display: flex;
    justify-content: center;
    background: #FFA500;
    color: white;
    border-radius: 5vw;
    padding-bottom: 0.7vw;
    padding-top: 0.7vw;
    font-weight: 500;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 1s;

}
.botao2{
    display: flex;
    justify-content: center;
    background: #FF6B00;
    color: white;
    border-radius: 5vw;
    padding-bottom: 0.7vw;
    padding-top: 0.7vw;
    font-weight: 500;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 1s;

}

.botao1:hover{
    background: #e79501;
    transition: 1s;
}

.botao2:hover{
    background: #ea6503;
    transition: 1s;
}

.escritas{
    padding: 2vw;
    text-align: left;
}

.escritasAberto{
    padding: 2.5vw;
    text-align: left;
}

.link{
    text-decoration: none;
    width: 14vw;
}
.detalhes{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    margin-bottom: .5vw;
}
.none{
    text-decoration: none;
    width: 14vw;
    display: none;
}
.noneAberto{
    text-decoration: none;
    width: 14vw;
    display: block;
}
.infos i{
    font-size: 2.2vw;
}
.infos{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.infos p{
    font-size: 1.4vw;
    font-weight: 600;
}
.none2{
    display: none;
}
.none2Aberto{
    display: block;
}
.blockAberto{
    display: none;
}
.desc{
    font-size: 1.2vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-weight: 600;
    text-align: justify;

}
.botoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 885px) {
    .card{
        width: 40vw;

    }
    .botao1, .botao2{
        font-size: 1.8vw;
    }
    .link{
        width: 17vw;
    }
    .titulo{
        font-size: 2.5vw;
    }
}



@media (max-width: 429px) {
    .fotos{
        height: 40vw;
        border-radius: 3vw 3vw 0vw 0vw;
    }
    .escritas{
        padding: 4vw;
    }
    .card {
        width: 65vw;
    }
    .infos i {
        font-size: 4.2vw;
    }

    .infos p {
        font-size: 3vw;
        font-weight: 600;
    }
    .botao1, .botao2{
        font-size: 3vw;
        padding-bottom: 1.7vw;
        padding-top: 1.7vw;
    }

    .fichaTurma{
        border: 0.3vw solid #FFD700;
        padding: 1.2vw 2.9vw;
        margin-bottom: 1vw;
        margin-top: 0.7vw;
        border-radius: 5vw;
        font-size: 2.3vw;
        font-weight: 600;
        height: 2vw;
        display: flex;
        align-items: center;
        min-width: 11.8vw;
    }
    .link{
        width: 25vw;
    }
    .titulo{
        font-size: 4vw;
    }
}
