.body{
    display: grid;
    grid-template-columns: 4em 2fr 0.8fr;
    min-height: 100vh;
    text-align: center;
    justify-items: center;
}

.calendario{
    width: 60vw;
    padding: 2vw;
    border-radius: 2vw;
    -webkit-box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    margin: 1vw;
    margin-bottom: 2vw;

}

.topo{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.diaS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.setas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.linhaA{
    width: 60vw;
    background: #FCFBF5;
    height: 0.7vw;
    margin-top: 2vw;
}

.diasC{
    display: grid;
    grid-template-rows: 1fr 0.1vw 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    gap: 1vw;
    margin-top: 1vw;

}

.linhah{
    background: #DEDEDE;
    height: 0.3vw;
}
.linhav{
    background: #DEDEDE;
    width: 0.3vw;
    position: relative;
    height: 12vw;
}
.linhav2{
    background: #DEDEDE;
    width: 0.3vw;
    position: relative;
    height: 10vw;
}

.h2{
    display: flex;
    margin-left: 1vw;
}

.seta4{
    background: #FF8C00;
    padding: 2vw;
    border-radius: 10000px;
    display: flex;
    width: 1.7vw;
    height: 1.4vw;
    padding-right: 1.7vw;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    cursor: pointer;
}
.seta5{
    background: #FF8C00;
    padding: 2vw;
    border-radius: 10000px;
    display: flex;
    width: 1.7vw;
    height: 1.4vw;
    padding-right: 1.7vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.dia{
    width: 8vw;
    height: 9vw;
}

.semana{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    justify-items: center;
    max-height: 9vw;
}

.agenda{
    display: flex;
    align-items: center;
}