.todosCard{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: space-evenly;
}

.oferecep{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    padding: 4vw;
}
.logo {
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background: #FCC602;
}
.logo img {
    width: 10%;
}
/*----------------------------------------*/

.banner img {
    width: 100%;
}
/*----------------------------------------*/
.azul, .amarelo, .laranja,.oferecep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 55vh;
    margin-top: -1vw;
}
.letraGrid{
    color: white;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 600;
}
.conhecer, .conviver{
    height: 8vw;
}
.fazer{
    height: 8vw;
}

.divona{
    background-color: #EEEBEB;
}

.tudos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textin{
    font-size: 1.5vw;
}

/*----------------------------------------*/
.metodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------*/

.coisas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 10px;
}
.presencial p{
    text-align: center;
}
.oficinas {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.oficinas2 {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 70px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.divao{
    margin: 8px;
}
/*----------------------------------------*/

.cargHFaixa{
    display: flex;
    align-content: center;
    gap: 1vw;
    align-items: center;
}
.cargHFaixa img {
    width: 7%;
}
.p{
    font-weight: bold;
    font-size: 25px;
}
/*----------------------------------------*/
.butonn, .buton {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}
.butonn{
    background-color: #FFA500;
}
.buton{
    background-color: #FF6B00;
}
.buton:hover, .butonn:hover {
    background-color: #FF8C00;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.presencial{
    border: 2px solid #FFA500;
    border-radius: 20px;
    padding: 0 10px;
}
/*----------------------------------------*/
.gerenciamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 90%;
}

.textos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.metodologia{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.texto{
    font-size: 4vw;
    font-weight: bold;
    width: 85%;
    margin-top: 2vw;
}
.bolas{
    width: 100%;
}
.h1metodo{
    font-size: 2.5vw;
    font-weight: 600;
}
.metodologiap{
    text-align: justify;
    font-size: 1.4vw;
    letter-spacing: 0.01vw;
}
.button{
    background-color: #6495ED;
    border: 1px solid #6495ED;
    width: 65%;
    color: white;
    padding: 1.5vw;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.6vw;
}
.button:hover{
    background-color: #537fcb;
}
/*--------------------------------------------------------*/
.footer {
    position: relative;
}
.logos {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 885px) {
    .fazer, .conviver, .conhecer{
        height: 12vw;
    }
    .letraGrid{
        margin-top: 3vw;
        font-size: 4vw;
    }
    .logo img {
        width: 15%;
    }
    .metodologiap {
        font-size: 2vw;
    }
    .h1metodo{
        font-size: 3.5vw;
        padding: 1vw 0;
    }
    .gerenciamento {
        width: 85%;
        margin: 4vw 0;
    }
}
@media (max-width: 429px) {
    .gerenciamento {
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .bolas{
        display: none;
    }
    .banner img {
        width: auto;
        height: 85vw;
        position: relative;
        left: -50%;
    }
    .h1metodo{
        font-size: 4vw;
        font-weight: 600;
        padding: 1vw 0;
    }
    .metodologiap{
        text-align: justify;
        font-size: 2.6vw;
        width: 95%;
        letter-spacing: .02vw;
     }

    .oferecep{
        text-align: center;
        font-size: 4vw;
        font-weight: 600;
        padding: 8vw 0;
    }
    .texto {
        font-size: 6vw;
        width: 100%;
    }
    .textin {
        font-size: 3vw;
        margin-top: 3vw;    }
    .button {
        padding: 2.5vw;
        margin-top: 3vw;
        width: 100%;
        font-size: 3vw;
    }
    .tudos{
        margin: 10vw 0;
    }
    .conviver, .conhecer, .fazer {
        height: 15vw;
    }
    .letraGrid {
        font-size: 5vw;
        margin-top: 5vw;
    }
    .logos {
        bottom: 3vw;
        left: 47%;
    }

    .fundo{
        width: 105%;
        height: 20vw;

    }
    .img1{
        width: 30%;
    }

    .img2{
        width: 60%;
    }

    .img3{
        width: 15%;
    }
}