
.logo {
    background-color: #ffdd26;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 10%;
}
/*----------------------------------------*/

.banner img {
    width: 100%;
}
/*----------------------------------------*/
.azul, .amarelo, .laranja,.oferecep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 40vh;
    margin-top: -1vw;
}
.divona{
    background-color: #EEEBEB;
}

/*----------------------------------------*/
.metodo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------*/
.oferecep{
    padding: 3vw;
    padding-top: 4vw;
}
.coisas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 10px;
}
.presencial p{
    text-align: center;
}
.oficinas {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.oficinas2 {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 70px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.divao{
    margin: 8px;
}
/*----------------------------------------*/

.cargHFaixa{
    display: flex;
    align-content: center;
    gap: 1vw;
    align-items: center;
}
.cargHFaixa img {
    width: 7%;
}
.p{
    font-weight: bold;
    font-size: 25px;
}
/*----------------------------------------*/
.butonn, .buton {
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}
.butonn{
    background-color: #FFA500;
}
.buton{
    background-color: #FF6B00;
}
.buton:hover, .butonn:hover {
    background-color: #FF8C00;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.presencial{
    border: 2px solid #FFA500;
    border-radius: 20px;
    padding: 0 10px;
}
/*----------------------------------------*/
.gerenciamento{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.textos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.metodologia{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.texto{
    font-size: 55px;
    font-weight: bold;
    width: 90%;
}

.h1metodo{
    font-size: 2.5vw;
    font-weight: 600;
}

.metodologiap{
    text-align: justify;
    font-size: 1.4vw;
    letter-spacing: 0.01vw;
}
.textao{
    margin-right: 100px;
}
.button{
    background-color: #6495ED;
    border: 1px solid #6495ED;
    width: 65%;
    height: 50px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
    font-size: 1.3vw;
}
.button:hover{
    background-color: #537fcb;
}
/*--------------------------------------------------------*/
.footer {
    position: relative;
}

.logos {
    position: absolute;
    bottom: 30px; /* ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todosCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}
