*{
    margin: 0;
    padding: 0;
}
.tudo{
    background-color: #FFDD26;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 13vw;
}
.bloco{
    background-color: white;
    width: 45%;
    display: flex;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}


.form{
    width: 85%;
}