
.MudSenha {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.MudSenha img {
    width: 25px;
    height: auto;
}
