.box{
    padding: 4vw 1vw 2vw;
    width: 65%;
    border-radius: 1em;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
}
.h1{
    font-weight: 600;
    padding-bottom: 1vw;
    font-size: 2.6vw;
}
.formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media (max-width: 885px) {
    .box{
        width: 80%;
        padding: 4vw 0;
    }
    .h1 {
         font-size: 3vw;
     }
    .maior{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formContainer {
        justify-items: center;
        gap: 0;
    }
}

@media (max-width: 429px) {
    .h1{
        font-weight: 600;
        padding-bottom: 2vw;
        margin-top: 4vw;
        font-size: 4vw;
    }
    .formContainer {
        display: flex;
        grid-template-rows: 1fr 1fr !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0em;
    }
    .box{
        width: 85%;
        margin-left: -3vw;
    }

    .maior {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
}