.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em !important;
    width: 60vw !important;
}

.fc .fc-button-primary {
    background-color: #FF6B00 !important;
    border-color: #FF6B00 !important;
    color: white !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: #FF6B00 !important;
    border-color: #FF6B00 !important;
    color: white !important;
}


@media (max-width: 885px) {
    .todoCalendario{
        height: 115vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}