.alunos {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 1vw;
    overflow-x: auto;
}
.fotoperfil {
    width: 7vw;
}

.identificacao {
    font-weight: bold;
    font-size: 20px;
}
.setalado {
    margin-top: 100px;
    padding-left: 10px;
}
.usuarioazul {
    background-image: url("../../public/azul.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21vw;
    min-width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vw;
    margin-bottom: 1vw;
    margin-top: 0.7vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-weight: 600;
}
.usuarioazul label{
    font-size: 1.3vw;
    width: 10vw;
    overflow-x: auto;
}

.lapislixo {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.lapislixo img {
    width: 1.3vw;
}

.lapislixo button {
    border: none;
    border-radius: 50%;
    background-color: #FF6B00;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.lapislixo button:hover {
    background-color: #FF8C42;
}

@media (max-width: 885px) {
    .usuarioazul{
        height: 28vw;
        min-width: 25vw;
    }
    .usuarioazul label{
        font-size: 1.8vw;
        width: 90%;
    }
    .fotoperfil{
        width: 10vw;
    }
    .lapislixo button {
        width: 5.5vw;
        height: 5.5vw;
    }
    .lapislixo img {
        width: 2.3vw;
    }
    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
}

@media (max-width: 429px){
    .usuarioazul{
        height: 41vw;
        min-width: 36vw;
    }
    .usuarioazul label{
        font-size: 2.3vw;
        width: 80%;
    }
    .fotoperfil{
        width: 16vw;
    }
    .lapislixo button {
        width: 7.5vw;
        height: 7.5vw;
    }
    .lapislixo img {
        width: 3.3vw;
    }

    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
    .professores{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        overflow-x: auto;
    }
}