.card{
    background: #FFDD26;
    padding: 1vw;
    color: white;
    border-radius: 1vw;
}
.dias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 0.1vw;
}

.texto{
    text-align: left;
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.dia{
    border: 2px solid white;
    border-radius: 50%;
    padding-bottom: 0.1vw;
    height: 2vw;
    width: 2vw;
}


@media (max-width: 885px) {
    .card{
        background: #FFDD26;
        padding: 3vw;
        color: white;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }
    .texto{
        font-size: 2vw;
    }
}

@media (max-width: 429px) {
    .texto{
        text-align: left;
        margin-left: 0.5vw;
        font-size: 2.5vw;
    }
    .card{
        padding: 4vw 2vw;
    }
}