.identificacao {
    font-weight: bold;
    font-size: 20px;
}
.coordenador{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 1vw;
    overflow-x: auto;
}
.usuariolara{
    background-image: url("../../public/laranja.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21vw;
    min-width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vw;
    margin-bottom: 1vw;
    margin-top: 0.7vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-weight: 600;
}


.usuariolara label{
    font-size: 1.3vw;
    width: 10vw;
    overflow-x: auto;
}

.usuarioroxo {
    background-image: url("../../public/roxo.png");
    background-position: center;
}

.lapislixo button:hover {
    background-color: #FF8C42;
}
.fotoperfil {
    width: 7vw;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.lapislixo {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.lapislixo img {
    width: 1.3vw;
}

.lapislixo button {
    border: none;
    border-radius: 50%;
    background-color: #FF6B00;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.botao button {
    background-color: #FF6B00;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.botao button:hover {
    background-color: #FF8C42;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 885px) {
    .usuariolara{
        height: 28vw;
        min-width: 25vw;
    }
    .usuariolara label{
        font-size: 1.8vw;
        width: 90%;
    }
    .fotoperfil{
        width: 10vw;
    }
    .lapislixo button {
        width: 5.5vw;
        height: 5.5vw;
    }
    .lapislixo img {
        width: 2.3vw;
    }
    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
}

@media (max-width: 429px){
    .usuariolara{
        height: 41vw;
        min-width: 36vw;
    }
    .usuariolara label{
        font-size: 2.3vw;
        width: 80%;
    }
    .fotoperfil{
        width: 16vw;
    }
    .lapislixo button {
        width: 7.5vw;
        height: 7.5vw;
    }
    .lapislixo img {
        width: 3.3vw;
    }

    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
    .professores{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        overflow-x: auto;
    }
}