.identificacao {
    font-weight: bold;
    font-size: 20px;
}
.coordenador{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 1vw;
    overflow-x: auto;
}
.usuariolara{
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.usuariolara {
    background-image: url("../../public/laranja.png");
    background-position: center;
}

.usuarioazul {
    background-image: url("../../public/azul.png");
    background-position: center;
}

.lapislixo button:hover {
    background-color: #FF8C42;
}
.fotoperfil {
    width: 100px;
}
.lapislixo {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.lapislixo img {
    width: 15px;
}

.lapislixo button {
    border: none;
    border-radius: 50%;
    background-color: #FF6B00;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.botao button {
    background-color: #FF6B00;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.botao button:hover {
    background-color: #FF8C42;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


@media (max-width: 429px) {
    .usuariolara{
        width: 33vw;
        height: 40vw;
        gap: 2vw;
    }
    .usuariolara label{
        font-size: 2vw;
        width: 90%;
    }
    .fotoperfil{
        width: 13vw;
    }
    .lapislixo button {
        width: 7.5vw;
        height: 7.5vw;
    }
    .lapislixoimg {
        width: 3vw;
    }
    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
    .coordenador{
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        flex-wrap: wrap;
        gap: 10px;
        width: 95%;
        overflow-x: auto;
    }
}