.fotoperfil {
    width: 100px;
}
.identificacao {
    font-weight: bold;
    font-size: 20px;
}
.ordenarPor {
    display: flex;
    justify-content: right;
    align-items: center;
}
.setabaixo {
    width: 2.5%;
    height: 2.5%;
    margin: 10px;
}
.professores {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 10px;
}
.usuarioroxo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.usuarioroxo {
    background-image: url("../../public/roxo.png");
    background-position: center;
}
.lapislixo {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.lapislixo img {
    width: 15px;
}

.lapislixo button {
    border: none;
    border-radius: 50%;
    background-color: #FF6B00;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.lapislixo button:hover {
    background-color: #FF8C42;
}


@media (max-width: 429px) {
    .usuarioroxo{
        width: 33vw;
        height: 40vw;
        gap: 2vw;
    }
    .usuarioroxo label{
        font-size: 2vw;
        width: 90%;
    }
    .fotoperfil{
        width: 13vw;
    }
    .lapislixo button {
        width: 7.5vw;
        height: 7.5vw;
    }
    .lapislixoimg {
        width: 3vw;
    }
    .ordenarPor{
        font-size: 3vw;
    }
    .identificacao{
        font-size: 4vw;
    }
    .professores{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        overflow-x: auto;
    }
}