.select{
    padding: 4px;
    border: none;
    border-radius: .5em;
    height: 2.5em;
    width: 90%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.26);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    gap: .5em;
}

.inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}