.box{
    min-width: 60%;
    border-radius: 1em;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
    padding: 4vw 2vw 2vw 1vw;

}
.h1{
    font-weight: 600;
    padding-bottom: 1vw;
    font-size: 2.6vw;

}
.formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.container label {
    font-weight: 600;
    font-size: 1.3vw;
}
.todos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 885px) {
    .box{
        min-width: 80%;
    }
    .h1{
        font-size: 3vw;
        padding-bottom: 2vw
    }
    .todos{
        margin-bottom: 2vw;
        gap: 2vw;
    }
}
@media(max-width: 429px){
    .h1{
        font-weight: 600;
        padding-bottom: 3vw;
        font-size: 4.6vw;
    }

    .box{
        padding: 6vw 2vw 6vw;
        width: 80%;
        border-radius: 1em;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
    }
    .formContainer {
        display: flex;
        gap: 0;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}
