.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5vw;
    gap: .5em;
    width: 95%;
}
.container label{
    font-weight: 600;
    font-size: 1.3vw;
}
.asterisco{
    color: red;
}

.inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input{
    padding: 1em 1vw 1vw;
    border: none;
    border-radius: 1vw;
    outline: none;
    height: 11vw;
    width: 94%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.26);
    resize: none;
    margin-top: 1vw;
    font-size: 1.3vw;
}
@media (max-width: 885px) {
    .container label{
        font-size: 2vw;
    }

    .input{
        height: 15.5vw;
    }
}

@media (max-width: 429px) {
    .container label{
        font-weight: 600;
        font-size: 3vw;
    }

    .input{
        padding: 1em 1vw 1vw;
        border: none;
        border-radius: 2vw;
        outline: none;
        height: 21vw;
        width: 97%;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.26);
        resize: none;
    }
}