.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5vw;
    gap: 1.1em;
    width: 95%;
}

.asterisco {
    color: red;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: none;
    border-radius: .5em;
    height: auto;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.26);
    width: 400px;
}

.titulop {
    font-weight: 600;
    font-size: 1.3vw;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.btnInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.previewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 885px) {
    .titulop {
        font-size: 2vw;
    }
}


@media (max-width: 885px) {
    .titulop {
        font-size: 2vw;
    }
}

@media (max-width: 429px) {
    .titulop {
        font-weight: 600;
        font-size: 3vw;
    }

    .input {
        width: 100%;
    }
}
