<<<<<<< Updated upstream
*{
    margin: 0;
    padding: 0;
}
=======
>>>>>>> Stashed changes
.tudo{
    background-color: #FFDD26;
    text-align: center;
    min-height: 100vh;
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
}
.logo img{
    margin-top: 30px;
    width: 160px;
}
.bloco{
    align-items: center;
    background-color: white;
    width: 55%;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 2px #A9A9A9;
}
.form{
    font-weight: bold;
}
.form input{
    margin: 40px;
    width:80%;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #A9A9A9;
=======
}
.logo img{
    width: 300px;
}
.form input{
    margin: 20px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #FFEE92;
    box-shadow: 1px 2px 1px #4F4F4F;
>>>>>>> Stashed changes
}
.form button{
    margin: 10px;
    color: white;
<<<<<<< Updated upstream
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #FF6B00;
}
.asterisco{
    color: red;
}


.infor label {
    display: block;
    text-align: left;
    margin-left: 85px;
}

.infor input {
    margin-top: 5px;
=======
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #032759;
>>>>>>> Stashed changes
}