.titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}
.asterisco{
    color: red ;
}
.button{
    background-color: #FFD700;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
}
.botao{
    margin-left: 20px;
}
.selected {
    background-color: #FFA500;
}