.total{
    max-height: 96svh;
    position: sticky;
    top: 0;
    background: #FFDD26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5vw .5vw 2vw;
    align-items: center;
    width: 5vw;
    transition: 1s;
    z-index: 10;
}

.total2{
    height: 99svh;
    position: sticky;
    top: 0;
    background: #FFDD26;
    flex-direction: column;
    justify-content: space-between;
    padding: .5vw .5vw 2vw;
    align-items: center;
    width: 12vw;
    transition: 1s;
    z-index: 10;
    display: none;
}


.total:hover {
    width: 15vw;
    transition: 1s;
    box-shadow: 10px 10px 48px -17px rgba(0, 0, 0, 0.75);
    padding: .5vw 1.5vw 2vw;

}

.total:hover .links{
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    transition: 1s;
    margin-top: 3vw;
}
.total .links{
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    transition: 1s;
    margin-top: 3em;
}

.total:hover .links2{
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    transition: 1s;
}
.total .links2{
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    transition: 1s;
}

.apareceM{
    display: none;
}

.desapareceM{
    display: flex;
}

.apareceA{
    display: flex;
}

.total:hover p{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 3s;
    display: block;
}

.total p{
    display: none;
    transition: 3s;
    font-size: 1.3vw;

}

.risco{
    display: none;
}

.total:hover .risco{
    display: block;
}

.pSala{
    margin-top: -4vw;
}

.perfil{
    width: 4vw;
    border-radius: 100px;
    border: solid 2px white;
    transition: 2s;
    margin-top: 2vw;
}

.total:hover .perfil{
    width: 8vw;
    margin-top: 4vw;
    transition: 2s;
}

.iconGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.total:hover .iconGroup{
    align-items: flex-start;
    margin-top: -2vw;
}


.icon{
    color: white;
    font-size: 2vw;
}

@media (max-width: 885px) {
    .total {
        max-height: 99svh;
        width: 8vw;
    }

    .icon{
        font-size: 3vw;

    }

    .total:hover .links2 p {
        font-size: 3vw !important;
    }

    .total:hover{
        width: 25vw;
    }
    .total:hover p{
        font-size: 2.5vw;
    }
    .total:hover .links .risco,
    .total:hover .links2 .risco{
        width: .5vw !important;
        height: 5vw !important;
        margin-right: .5vw;
        margin-left: .5vw;
    }
    .total .perfil{
        width: 5vw;
        margin-top: 5vw;
        border-radius: 100px;
        border: solid 2px white;
        transition: 1s;
    }
    .fa-xl {
        font-size: 2.5em !important;
    }
    .links{
        margin-top: 5.7vw !important;
        font-size: 3vw;
    }
    .total:hover .perfil{
        width: 10vw;
        margin-top: 5vw;
        border-radius: 100px;
        border: solid 2px white;
        transition: 1s;
    }
    .total .links2 {
        display: flex;
        align-items: center;
        gap: 1vw;
        text-decoration: none;
        transition: 1s;
        margin-top: 5vw !important;
    }
    .iconGroup{
        margin-top: -8vw;
    }
}

@media (max-width: 429px) {
    .total{
        max-height: 99svh;
        width: 15vw;
    }
    .total:hover .iconGroup{
        align-items: flex-start;
        margin-top: -10vw;
    }

    .icon{
        font-size: 6vw;
    }

    .links{
        margin-top: 11vw !important;
    }
    .total2{
        display: flex;
    }

    .apareceM{
        display: flex;
    }

    .desapareceM{
        display: none;
    }

    .apareceA{
        display: flex;
    }

    .desapareceA{
        display: none;
    }


    .total:hover{
        width: 40vw;
    }
    .total:hover p{
        font-size: 3.7vw;
    }
    .total:hover .links2 p{
        font-size: 3.7vw !important;
    }

    .total:hover .links .risco,
    .total:hover .links2 .risco{
        width: .5vw !important;
        height: 5vw !important;
        margin-right: .5vw;
        margin-left: .5vw;
    }
    .total .perfil{
        width: 10vw;
        margin-top: 5vw;
        border-radius: 100px;
        border: solid 2px white;
        transition: 1s;
    }
    .total:hover .perfil{
        width: 22vw;
        margin-top: 10vw;
        border-radius: 100px;
        border: solid 2px white;
        transition: 1s;
    }
    .iconGroup{
        margin-top: -8vw;
    }
}