.box{
    min-height: 85%;
    padding: 1vw;
    padding-bottom: 2vw;
    padding-top: 4vw;
    width: 65%;
    border-radius: 1em;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
}

.formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.h1{
    font-weight: 600;
    margin-bottom: 1vw;
}