.box{
    min-height: 85%;
    padding: 4vw 1vw 2vw;
    width: 65%;
    border-radius: 1em;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.26);
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.h1{
    font-weight: 600;
    margin-bottom: 1vw;
    font-size: 2.6vw;
}

.parte1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.parte2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}